exportPattern("^[[:alpha:]]+")
import(Biobase)
import(GeneNet)
import(longitudinal)
import(limma)
import(GSEABase)
import(splines)
import(FIs)
importFrom(gtools, mixedsort)
importFrom(igraph, igraph.from.graphNEL, graph.data.frame, degree, V, E)